body {
    background-color: #f5f5f5;
    font-size: 1.9rem;
    line-height: 1.3;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}

.App-container {
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    border-radius: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.App-header {
    font-size: calc(12px + 2vmin);
    color: #e9d7d7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    outline-offset: 0;
}

*:active {
    outline: none;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    overflow: visible;
    background: #e8cece;
    color: white;
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #8e7373;
    cursor: pointer;
    text-transform: uppercase;
}

button,
input,
optgroup,
textarea {
    font-family: inherit;
    line-height: 1.15;
}

input::placeholder {
    color: darkgrey;
    font-style: italic;
}

.form-group > input[type="text"] {
    display: inline-block;
    margin-top: 0.4rem;
    height: 4rem;
}

.btn-group {
    display: flex;
    flex-wrap: nowrap;
}

.btn-pressed {
    background-color: #d29d9d;
}

.hidden {
    visibility: hidden;
}

.stack-exception {
    margin-top: 1.2rem;
}

#list-heading {
    font-weight: inherit;
    font-size: inherit;
}

.stack-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.todoapp {
    margin: 2rem 0 0;
    position: relative;
}

.todoapp > * {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.todoapp > form {
    max-width: 100%;
}

.todoapp > h1 {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: 0 0 1rem;
}

.label__lg {
    line-height: 1.01567;
    font-weight: 300;
    padding: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.input__lg {
    padding: 2rem;
    border: 1px solid darkgrey;
    margin-bottom: 15px;
    border-radius: 5px;
}

.input__lg:focus {
    outline: none
}

[class*="__lg"] {
    display: inline-block;
    width: 100%;
    font-size: 1.9rem;
}

[class*="__lg"]:not(:last-child) {
    margin-bottom: 1rem;
}

.todo {
    display: flex;
    flex-direction: row;
    height: 6rem;
}

.todo > * {
    flex: 0 0 100%;
}

.todo-text {
    width: 100%;
    min-height: 4rem;
    padding: 0.4rem 0.8rem;
    border: 2px solid #8e7373;
}

.input__checkbox {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 25px;
    padding-left: 40px;
    clear: left;
}

.input__checkbox > label::before,
.input__checkbox > input[type="checkbox"] {
    box-sizing: border-box;
    left: 8px;
    width: 25px;
    height: 25px;
}

.input__checkbox > input[type="checkbox"] {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    margin: 0;
    opacity: 0;
}

.input__checkbox > label {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    touch-action: manipulation;
}

.input__checkbox > label::before {
    content: "";
    position: absolute;
    border: 2px solid currentColor;
    background: transparent;
}

.input__checkbox > label::after {
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
    width: 14px;
    height: 4px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 3px 3px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
}

.input__checkbox > input[type="checkbox"]:checked + label::after {
    opacity: 1;
}



